body {
  margin: 0;
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-weight: 300;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  font-size: 15px;
}

.navbar__wrapper {
  max-width: 1024px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  transition: 0.3s;
}

@media (max-width: 1025px) {
  .navbar__wrapper {
    max-width: 900px;
  }
}

@media (max-width: 901px) {
  .navbar__wrapper {
    max-width: 700px;
  }
}

@media (max-width: 701px) {
  .navbar__wrapper {
    max-width: 500px;
  }
}

.navbar__logo {
  font-size: 25px;
  margin-top: 10px;
}

.navbar__menu {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.navbar__menu-option {
  margin: 0 5px;
  transition: 0.15s ease-in;
  border-bottom: 1px solid transparent;
}

.navbar__menu-option:hover {
  cursor: pointer;
  border-bottom: 1px solid #252525;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  opacity: 0.09;
}

.fullscreen-bg__video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/bg.jpeg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.content {
  font-family: 'Gruppo', 'Helvetica', sans-serif;
  width: 960px;
  margin: auto auto;
}

.content__brand-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content__brand {
  font-size: 70px;
}

.content__brand-subtitle {
  font-size: 22px;
  text-align: right;
}
